InvokeEnterpriseService/InvokeProcess.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/StartProcess/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="StartProcess" targetNamespace="http://www.example.org/StartProcess/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/StartProcess/">
      <xsd:import namespace="http://www.demo.sap.com/createso/pr/context" schemaLocation="http://galaxy:50000/bpm/demosapcom/team1/createso/pr/pm/Start?location=META-INF/wsdl/src/wsdl/Context.xsd&amp;wsdl"/>
      <xsd:complexType name="ItemType"/>
      <xsd:element name="StartProcessRequestMessage">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
            <xsd:element xmlns:ns1="http://www.demo.sap.com/createso/pr/context" maxOccurs="unbounded" name="Item" type="ns1:ItemType"/>
            <xsd:element name="BuyerId" type="xsd:string"/>
            <xsd:element name="POId" type="xsd:string"/>
            <xsd:element name="PODate" type="xsd:string"/>
            <xsd:element name="RequestDate" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="StartProcessRequest">
    <wsdl:part element="tns:StartProcessRequestMessage" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="StartG1Process">
    <wsdl:operation name="StartProcess">
      <wsdl:input message="tns:StartProcessRequest"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StartG1ProcessBinding" type="tns:StartG1Process">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="StartProcess">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    
  </wsdl:binding>
  <wsdl:service name="StartG1ProcessService">
    <wsdl:port binding="tns:StartG1ProcessBinding" name="StartG1ProcessPort">
      <soap:address location="http://galaxy:50000/bpm/demosapcom/team1/createso/pr/pm/Start"/>
    </wsdl:port>
  </wsdl:service>
  
  
</wsdl:definitions>